# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE
.vscode
.idea

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

infra/**/packer_cache
infra/**/output

.terraform
.terraform.lock.hcl
env_vars
variables.pkrvars.hcl

# Plugins
vault-plugins/build/
vault-plugins/shared/kafka/example_plugin/build
vault-plugins/flant_iam/tests/data/*
vault-plugins/tests/data/*

# authd
authd/build/
authd/dev/secret/authd.jwt

# cli
cli/build/

# server-access
server-access/flant-server-accessd/build/

# nss
server-access/server-access-nss/build/
server-access/server-access-nss/target/

# oidc mock
e2e/tests/lib/oidc_mock/build/

# e2e
e2e/tests/**/*.log
e2e/tools/*
