# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE
.vscode
.idea

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

authd/dev/secret/authd.jwt

infra/**/packer_cache
infra/**/output
variables.pkrvars.hcl

# Plugins
vault-plugins/build/
vault-plugins/shared/kafka/example_plugin/build
vault-plugins/flant_iam/tests/data/*
vault-plugins/tests/data/*

# e2e
vault-plugins/e2e/data/*
vault-plugins/e2e/tools/*
