# Should be the same during bas image build and others.
root_password = "[PASSWORD]"
# Following two are used only for alpine-base-builder instance.
gcp_builder_service_account = "[BASE_IMAGE_BUILDER_SA_EMAIL]"
gcp_image_bucket = "[TEMPORARY_BUCKET_NAME]"
# FQDN buckets for single instance vaults.
gcp_vault_root_source_bucket = "[VAULT_ROOT_SOURCE_FULL_BUCKET_NAME]"
gcp_vault_conf_bucket = "[VAULT_CONF_FULL_BUCKET_NAME]"
gcp_vault_conf_conf_bucket = "[VAULT_CONF_CONF_FULL_BUCKET_NAME]"
# Will be used as "hostname.gcp_vault_auth_bucket_trailer".
gcp_vault_auth_bucket_trailer = "[VAULT_AUTH_BUCKET_NAME_TRAILER]"
# Variables to determine where are builder instances will run.
gcp_project = "[PROJECT]"
gcp_zone = "[ZONE]"
