version: "3"

services:
  vault-auth:
    platform: linux/amd64
    container_name: vault-auth
    build:
      context: .
      dockerfile: Dockerfile.vault-debug
    volumes:
      - "../infra/common/vault/vault/bin/vault:/bin/vault:ro"
      - "./vault/vault-auth.hcl:/etc/vault.hcl:ro"
      - "./kafka/ca.crt:/etc/ca.crt:ro"
      - "./kafka/client.crt:/etc/client.crt:ro"
      - "./kafka/client.key:/etc/client.key:ro"
    ports:
      - 2345:2345
      - 8200:8200
    environment:
      - VAULT_ADDR=http://127.0.0.1:8200
      - VAULT_CLIENT_TIMEOUT=120s
    command: --listen=:2345 --headless=true  --accept-multiclient --api-version=2 exec /bin/vault -- server -config /etc/vault.hcl
    cap_add:
      - IPC_LOCK
    depends_on:
      kafka:
        condition: service_healthy

  vault-root:
    platform: linux/amd64
    container_name: vault-root
    build:
      context: .
      dockerfile: Dockerfile.vault-debug
    volumes:
      - "../infra/common/vault/vault/bin/vault:/bin/vault:ro"
      - "./vault/vault-root.hcl:/etc/vault.hcl:ro"
      - "./kafka/ca.crt:/etc/ca.crt:ro"
      - "./kafka/client.crt:/etc/client.crt:ro"
      - "./kafka/client.key:/etc/client.key:ro"
    ports:
      - 2346:2345
      - 8300:8300
    environment:
      - VAULT_ADDR=http://127.0.0.1:8300
      - VAULT_CLIENT_TIMEOUT=120s
    command: --listen=:2345 --headless=true  --accept-multiclient --api-version=2 exec /bin/vault -- server -config /etc/vault.hcl
    cap_add:
      - IPC_LOCK
    depends_on:
      kafka:
        condition: service_healthy

  test-client:
    platform: linux/amd64
    container_name: test-client
    build:
      context: .
      dockerfile: Dockerfile.test-client
    volumes:
      - "../authd/build:/opt/authd/bin:ro"
      - "../cli/build:/opt/cli/bin:ro"
    command: [ "sleep", "infinity" ]
    depends_on:
      - vault-root
      - vault-auth

  test-server:
    platform: linux/amd64
    container_name: test-server
    build:
      context: .
      dockerfile: Dockerfile.test-server
    volumes:
      - "../authd/build:/opt/authd/bin:ro"
      - "../server-access/flant-server-accessd/build:/opt/server-access/bin:ro"
      - "../server-access/server-access-nss/build/libnss_flantauth.so.2:/lib/x86_64-linux-gnu/libnss_flantauth.so.2:ro"
    environment:
      - SERVER_ACCESSD_CONF=/opt/server-access/config.yaml
    depends_on:
      - vault-root
      - vault-auth
