{{- $vault_port := pluck .Values.werf.env .Values.vault_port | first | default .Values.vault_port._default }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-auth
  labels:
    app: vault-auth
data:
  vault.hcl: |-
    storage "file" {
      path = "/tmp/vault/data"
    }

    listener "tcp" {
      address = "0.0.0.0:{{ $vault_port }}"
      tls_disable = "true"
      max_request_duration = "120s"
    }

    api_addr = "http://vault-auth:{{ $vault_port }}"

    cluster_name = "auth"

    ui = false

    log_level = "debug"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-root
  labels:
    app: vault-root
data:
  vault.hcl: |-
    storage "file" {
      path = "/tmp/vault/data"
    }

    listener "tcp" {
      address = "0.0.0.0:{{ $vault_port }}"
      tls_disable = "true"
      max_request_duration = "120s"
    }

    api_addr = "http://vault-root:{{ $vault_port }}"

    cluster_name = "root-source"

    ui = false

    log_level = "debug"
