vault_port: 
  _default: 8200
secrets_path:
  _default: "/tmp/secrets"
kafka:
  name:
    _default: "ng"
replicas:
  root_vault:
    _default: 1
  auth_vault:
    _default: 3

resources:
  requests:
    cpu:
      _default: 30m
    memory:
      _default: 64Mi
  limits:
    memory:
      _default: 512Mi