name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      GOFLAGS: -mod=readonly
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        plugin: ["shared", "flant_iam", "flant_iam_auth"]
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install golang-ci lint
        run: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | BINARY=golangci-lint bash -s -- v1.38.0

      - name: Test ${{ matrix.plugin }}
        run: |
          set -e
          cd ${GITHUB_WORKSPACE}/vault-plugins/${{ matrix.plugin }}
          go test -vet=off ./...

      - name: Lint ${{ matrix.plugin }}
        run: |
          set -e
          cd ${GITHUB_WORKSPACE}/vault-plugins/${{ matrix.plugin }}
          ${GITHUB_WORKSPACE}/bin/golangci-lint run ./... --config ../.golangci.yaml
