name: Cleanup Docker registry
on:
  schedule:
    - cron:  '0 6 * * *'
  repository_dispatch:
    types: [cleanup]
jobs:
  cleanup:
    name: Cleanup
    runs-on: ubuntu-latest
    steps:
      - name: Dump github context
        run:   echo "$GITHUB_CONTEXT"
        shell: bash
        env:
         GITHUB_CONTEXT: ${{ toJson(github) }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Fetch all history for all tags and branches
        run: git fetch --prune --unshallow
      - name: Docker login
        run: |
          echo "${{ secrets.GAR_JSON_KEY_BASE64 }}" | docker login -u _json_key_base64 --password-stdin ${{ secrets.REGISTRY }}
      - name: Cleanup
        uses: werf/actions/cleanup@master
        with:
          kube-config-base64-data: ${{ secrets.KUBE_CONFIG_BASE64_DATA }}
        env:
          WERF_IMAGES_REPO: ${{ secrets.REGISTRY }}/${{ github.repository }}
          WERF_STAGES_STORAGE: ${{ secrets.REGISTRY }}/${{ github.repository }}/stages