name: Build and Deploy
on:
  push:
    branches: [kubernetization]
jobs:
  converge:
    name: "Build and Deploy"
    runs-on: ubuntu-latest
    steps:
      - name: Set vars
        run: |
          [[ "${GITHUB_REF#*/*/}" == "main" ]] && echo "WERF_ENV=stage" >> ${GITHUB_ENV} || echo "WERF_ENV=dev" >> ${GITHUB_ENV}
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Docker login
        run: |
          echo "${{ secrets.GAR_JSON_KEY_BASE64 }}" | docker login -u _json_key_base64 --password-stdin ${{ secrets.REGISTRY }}
      - name: Werf converge
        uses: werf/actions/converge@v1.2
        with:
          channel: beta
          env: ${{ env.WERF_ENV }}
          kube-config-base64-data: ${{ secrets.KUBE_CONFIG_BASE64_DATA }}
        env:
          WERF_REPO: ${{ secrets.REGISTRY }}/negentropy-dev/negentropy-dev