name: e2e tests

on:
  push:
    branches:
      - main
  pull_request:
    types: [labeled]

jobs:
  build-and-test:
    if: (github.event_name == 'push' && github.event.ref == 'refs/heads/main') || (github.event_name == 'pull_request' && github.event.label.name == '/run-e2e-tests')
    name: Build and Test
    runs-on: ubuntu-latest
    env:
      GOFLAGS: -mod=readonly
    defaults:
      run:
        shell: bash
        working-directory: vault-plugins/

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          # Check out pull request's HEAD commit instead of the merge commit to
          # work-around an issue where wrong a commit is being checked out.
          # For more details, see:
          # https://github.com/actions/checkout/issues/299.
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Build
        run: bash dev-build.sh flant_iam

      - name: Setup Vault
        run: bash dev-start.sh flant_iam

      - name: Setup node 12
        uses: actions/setup-node@v2
        with:
          node-version: 12.x

      - name: Tests
        run: yarn && yarn test
        working-directory: vault-plugins/flant_iam/tests

  remove-label:
    name: Remove Label
    runs-on: ubuntu-latest
    if: (github.event_name == 'push' && github.event.ref == 'refs/heads/main') || (github.event_name == 'pull_request' && github.event.label.name == '/run-e2e-tests')
    steps:
      - uses: actions/github-script@v4.0.2
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const eventLabelName = '${{github.event.label.name}}'
            const response = await github.issues.listLabelsOnIssue({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number
            })
            for (const label of response.data) {
              if (label.name === eventLabelName) {
                github.issues.removeLabel({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  issue_number: context.issue.number,
                  name: eventLabelName
                })
                break
              }
            }
