name: Plugins

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  plugins:
    name: Tests
    runs-on: ubuntu-latest
    env:
      GOFLAGS: -mod=readonly
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        plugin: ["shared", "flant_iam", "flant_iam_auth", "flant_gitops"]
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          # Check out pull request's HEAD commit instead of the merge commit to
          # work-around an issue where wrong a commit is being checked out.
          # For more details, see:
          # https://github.com/actions/checkout/issues/299.
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install golang-ci lint
        run: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | BINARY=golangci-lint bash -s -- v1.38.0

      - name: Lint ${{ matrix.plugin }}
        working-directory: vault-plugins/${{ matrix.plugin }}
        run: ${GITHUB_WORKSPACE}/bin/golangci-lint run ./... --config ../.golangci.yaml

      - name: Test ${{ matrix.plugin }}
        working-directory: vault-plugins/${{ matrix.plugin }}
        run: |
             CURRENT_DIR=$(basename "$PWD")
             if [[ $CURRENT_DIR == 'shared' || $CURRENT_DIR == "flant_iam" ]]; then
               echo "Start kafka"
               docker-compose -f ../../docker-compose.yml up -d kafka
               echo "Sleep for 15s"
               sleep 15
             fi
               go test -race -vet=off ./...
